@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');

html, body {
  font-family: 'Jeju Gothic', 'Roboto+Condensed';
}

.container-scroller {
  overflow: hidden;
}

.outline-margin {
  margin: 10% 0 15% 0;
}

.common-margin {
  margin: 5% 0;
}

.common-align {
  vertical-align: middle;
}


.point-div {
  width: 100%;
  text-align: center;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
}

.point-rate {
  font-family: 'Work Sans';
  font-size: 2.2em;
  margin-left : 0.3em;
  vertical-align: middle;
}

.font-color-red {
  color: red;
}

.font-color-yellow {
  color: orange;
}
