@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');

html, body {
  font-family: 'Jeju Gothic', 'Roboto+Condensed';
}

.container-scroller {
  overflow: hidden;
}

.outline-margin {
  margin: 10% 0 15% 0;
}

.common-margin {
  margin: 5% 0;
}

.common-align {
  vertical-align: middle;
}

.point-div {
  width: 100%;
  text-align: center;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
}

.point-rate {
  font-family: 'Work Sans';
  font-size: 2.2em;
  margin-left : 0.3em;
  vertical-align: middle;
}

.font-color-red {
  color: red;
}

.font-color-yellow {
  color: orange;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
  background-color: #fff;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid;
    background-color: #fff;
    border-color: #d8dbe0;
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
